@import '../constants/colors.scss';
@import '../mixins/flexbox.scss';
@import '../constants/typography.scss';
@import '../constants/colors.scss';


.library-page {
  padding: 20px;
  color: $white;

  .section-title {
    font-size: $font-size-18;
    font-weight: $font-semibold;
    margin-bottom: 14px;
  }

  .book-slider {
    display: flex;
    gap: 16px;
    overflow-x: auto; // 가로 스크롤 가능
    padding-bottom: 10px;
  }

  .add-book-btn {
    width: 227px;
    height: 396px;
    border: 2px dashed $t-3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $t-3;
    font-size: $font-size-14;
    font-weight: $font-semibold;
    cursor: pointer;

    &:hover {
      background-color: $dark-20;
    }
  }
}
