// 메인 페이지 스타일 (_main-page.scss)
@import '../constants/colors';

body, html {
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 여백 제거 */
  width: 100%; /* 화면 전체 너비 */
  height: 100%; /* 화면 전체 높이 */
}


.main-page {
  padding-bottom: 63px; // 네비게이션 바 높이만큼 여백 추가
  background-image: url("../public/img/im-BG.png"); /* public 폴더 절대 경로 */
  background-size: cover; /* 화면을 꽉 채우도록 설정 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-position: center; /* 중앙 정렬 */
  background-position: top; /* 이미지를 위쪽에서 시작하도록 설정 */
  height: calc(100vh - 63px); /* 네비게이션 바 높이만큼 제외한 높이 */
  width: 100%; /* 화면 전체 너비 */
  display: flex; /* 배치를 위한 flexbox */
  flex-direction: column; /* 수직 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  justify-content: center; /* 수직 가운데 정렬 */
  color: #ffffff; /* 기본 텍스트 색상 흰색 */
  font-family: "Pretendard", sans-serif; /* 기본 폰트 */
  text-align: center; /* 텍스트 가운데 정렬 */
}
