.container {
  height: calc(100vh - 63px);
  width: 90vw;
  max-width: 1200px;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 3vh;
  position: relative;
}

.profileInfo {
  display: flex;
  align-items: center;
}

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profileImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileName {
  font-size: 20px;
  margin: 0;
  margin-top: 15px;
}

.starName {
  font-size: 14px;
  color: #ccc;
}

.mainStar {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 30px;
}

.readingSection {
  margin-top: 30px;
}

.sectionTitle {
  font-size: 18px;
  margin-bottom: 15px;
}

.bookList {
  display: flex;
  gap: 15px;
  overflow-x: scroll; /* 가로 스크롤 활성화 */
  -ms-overflow-style: none; /* IE 및 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.bookList::-webkit-scrollbar {
  display: none; /* Chrome에서 스크롤바 숨기기 */
}

.bookCard {
  flex: 0 0 calc(60% - 10px); /* 화면의 60% 차지 */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}

.bookImage {
  width: 100%;
  height: 250px; /* 책 이미지 크기 조정 */
  object-fit: cover;
}

.bookInfo {
  background: #222;
  padding: 15px;
  color: white;
}

.bookTag {
  display: inline-block;
  background: #5465ff;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 5px;
}

.bookTitle {
  font-size: 18px;
  margin: 5px 0;
}

.bookAuthor {
  font-size: 14px;
  color: #aaa;
}

.bookProgress {
  font-size: 12px;
  color: #ccc;
  margin-top: 5px;
}

.moreButton {
  padding: 10px 20px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
