// Dark shades
$dark-50: #16181f;
$dark-40: #222631;
$dark-30: #2f374c;
$dark-20: #727c94;
$dark-10: #a0a9c0;

// Primary colors
$primary: #5465ff;
$primary-dis: #afb7ff;

// Gradient
$gradient-gr: linear-gradient(90deg, #2f374c, #1a1e27);

// Text colors
$text-4-dis: #67707b;
$text-3: #8b929a;
$text-2: #d5d7d9;
$text-1: #ffffff;

// Progress bar colors with numbers
$progress-1: #7545fd;
$progress-2: #ab2ff6;
$progress-3: #f36dff;
$progress-4: #45dcfd;
$progress-5: #456dfd;
$progress-6: #0061d4;
