.container {
  height: calc(100vh - 63px);
  width: 90vw;
  max-width: 1200px;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 3vh;
  position: relative;
}

.profileInfo {
  display: flex;
  align-items: center;
}

.profileBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.profileImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profileName {
  font-size: 20px;
  margin: 0;
  margin-top: 15px;
}

.starName {
  font-size: 14px;
  color: #ccc;
}

.starGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  overflow-y: auto;
  height: 60vh;
}

.starCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: opacity 0.3s ease;
}

.starCard img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.starCard p {
  margin: 0;
  font-size: 14px;
}

.starCard.active {
  opacity: 1;
}

.starCard.inactive {
  opacity: 0.4;
}

.footer {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
