// Dark shades
$dark-50: #16181F;
$dark-40: #222631;
$dark-30: #2F374C;
$dark-20: #727C94;
$dark-10: #A0A9C0;

// Primary colors
$primary: #5465FF;
$primary-dis: #AFB7FF;

// Gradient
$gradient-gr: linear-gradient(90deg, #2F374C, #1A1E27);

// Text colors
$text-4-dis: #67707B;
$text-3: #8B929A;
$text-2: #D5D7D9;
$text-1: #FFFFFF;
