// Font families and weights
$font-family: 'Pretendard', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// Font sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

// Line height
$line-height: 1.4;
