@charset "UTF-8";
@font-face {
  font-family: 'book7';
  src: url("./assets/fonts/book7.eot?");
  src: url("./assets/fonts/book7.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/book7.ttf?") format("truetype"), url("./assets/fonts/book7.woff?") format("woff"), url("./assets/fonts/book7.svg?#book7") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'book7' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic-x:before {
  content: '\e905'; }

.ic-search:before {
  content: '\e90a'; }

.ic-plus:before {
  content: '\e90c'; }

.ic-back:before {
  content: '\e900'; }

.ic-camera:before {
  content: '\e901'; }

.ic-door-open:before {
  content: '\e902'; }

.ic-calender:before {
  content: '\e903'; }

.ic-stop:before {
  content: '\e904'; }

.ic-trash:before {
  content: '\e906'; }

.ic-club:before {
  content: '\e907'; }

.ic-check:before {
  content: '\e908'; }

.ic-book:before {
  content: '\e909'; }

.ic-filter:before {
  content: '\e90b'; }

.ic-setting:before {
  content: '\e90d'; }

.ic-book-open:before {
  content: '\e90e'; }

.ic-V_icon:before {
  content: '\e90f'; }

.ic-star:before {
  content: '\e910'; }

.ic-star-score:before {
  content: '\e911'; }

.tag-club {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 22px;
  border-radius: 4px;
  margin: 4px 7px;
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #5465ff; }

.navigation-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #16181f;
  height: 63px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .navigation-bar .nav-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: #67707b; }
    .navigation-bar .nav-item.active {
      color: #ffffff; }
      .navigation-bar .nav-item.active i {
        color: #ffffff; }
    .navigation-bar .nav-item i {
      font-size: 24px;
      color: inherit; }
    .navigation-bar .nav-item span {
      font-size: 12px;
      color: inherit; }

body, html {
  margin: 0;
  /* 기본 여백 제거 */
  padding: 0;
  /* 기본 여백 제거 */
  width: 100%;
  /* 화면 전체 너비 */
  height: 100%;
  /* 화면 전체 높이 */ }

.main-page {
  padding-bottom: 63px;
  background-image: url("../public/img/im-BG.png");
  /* public 폴더 절대 경로 */
  background-size: cover;
  /* 화면을 꽉 채우도록 설정 */
  background-repeat: no-repeat;
  /* 이미지 반복 방지 */
  background-position: center;
  /* 중앙 정렬 */
  background-position: top;
  /* 이미지를 위쪽에서 시작하도록 설정 */
  height: calc(100vh - 63px);
  /* 네비게이션 바 높이만큼 제외한 높이 */
  width: 100%;
  /* 화면 전체 너비 */
  display: flex;
  /* 배치를 위한 flexbox */
  flex-direction: column;
  /* 수직 정렬 */
  align-items: center;
  /* 수평 가운데 정렬 */
  justify-content: center;
  /* 수직 가운데 정렬 */
  color: #ffffff;
  /* 기본 텍스트 색상 흰색 */
  font-family: "Pretendard", sans-serif;
  /* 기본 폰트 */
  text-align: center;
  /* 텍스트 가운데 정렬 */ }

/*# sourceMappingURL=style.css.map */